.mE{
    padding-inline: 2em;
    margin-bottom: 2em;
}
.h1{
    color: rgb(76, 108, 76);
    margin-block: 0.5em;
    margin-left: 1em;
}
.sE1{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    border-radius: 11px;
    box-shadow: 1px 1px 3px 4px rgb(171, 237, 171);
    margin-inline: auto;
    padding-block: 2em;
    

    a{
        color: black;
        text-decoration: none;
        font-size: large;
        background-color: rgba(85, 85, 85, 0.557);
        padding-block: 5px;
        padding-inline: 20px;
        border-radius: 11px;
        width: 220px;
        margin-inline: auto;
    }

    h3{
        background-color: rgb(171, 237, 171);
        width: 300px;
        padding: 5px;
        padding-inline: 15px;
        border-radius: 11px;
        margin-inline: auto;
    }

    h4{
        background-color: rgba(85, 85, 85, 0.557);
        width: 300px;
        padding: 5px;
        padding-inline: 6em;
        border-radius: 11px;
        margin-inline: auto;
    }
}

#bu{
    margin-left: -1.1em;
}