
.hF{
    font-weight: 500;
    font-size: large;
    color: rgba(43, 42, 42, 0.635);
}
.jobF{
    border: 2px solid rgb(171, 237, 171);
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    margin-block: 2em;

    h2{
        font-weight: 500; 
        
    }

    h3{  
        text-decoration: underline;
        font-size: larger;
    }

    p{
        background-color: rgb(171, 237, 171);
        border-radius: 11px;
        padding-inline: 10px;
        padding-block: 3px;
        width: 230px;
    }
       
}

#A{
    text-decoration: none;
    color: black;
}

.sp{
    margin-inline: 3px;

}

.sp2{
    margin-inline: 3px;

}

/* ............ */
/*  */
.mainS{
    border: 2px solid rgb(171, 237, 171);
    border-radius: 11px;
    width: 400px;
    height: 600px;
    margin-inline: 2em;
    padding: 1em;
    overflow-x: none;
}
#subS{
    h1{
        font-weight: 700;
    }

    h2{
        text-decoration: underline;
    }

}
.parS{
    background-color: rgb(171, 237, 171);
    border-radius: 11px;
    padding-inline: 10px;
    width: 230px;
}
.spS{
    margin-inline: 3px;
}

/* dashhhhhhh */
.divD{
    display: flex;
    padding-inline: 10em;
    margin-top: 2em;
}

/* ssssssssssss */
#stickS{
    
    h1{
        font-size: large ;
        color: rgb(88, 88, 88);
    }
}
.loc{
     background-color: rgba(114, 114, 114, 0.164);
     border-radius: 10px;
     padding: 10px;
}
.h1S{
    border-bottom: 1.5px solid rgba(85, 85, 85, 0.557);
    padding-bottom: 5px;
}
.jT{
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-bottom: 1.5px solid rgba(85, 85, 85, 0.557);
    padding-bottom: 1em;

    span{
        background-color: rgba(114, 114, 114, 0.164);
        width: 200px;
        border-radius: 11px;
        padding: 0.5em;
    }
}
.reqS{
    line-height: 2em;
    border-bottom: 1.5px solid rgba(85, 85, 85, 0.557);
    padding-bottom: 1em;

    p{
        line-height: 2em;
        width: 260px;
    }
}
.reS{
    border-bottom: 1.5px solid rgba(85, 85, 85, 0.557);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 1em;
    line-height: 2em;

    p{
        line-height: 2em;
        width: 250px;
    }
}
.aPP{
    padding-left: 1em;
}
.butS{
    color: black;
    padding-block: 5px;
    font-weight: 500;
    border-radius: 11px;
    background-color: rgb(171, 237, 171);
}
