.newH{
    width: 100%;
    border: thin solid rgb(137, 167, 137) ;
    box-shadow: 0px 0px 3px 3px rgb(171, 237, 171);
    padding-inline: 2%;
    
}
.navH{
    display: flex;
    flex-direction: row;
    gap: 60%;
    padding-block: 1%;

    a{
        color: black;
        text-decoration: none;
    }
    a:hover {
        color: rgb(171, 237, 171);
        border-bottom: 2px solid rgb(171, 237, 171);
    }

}

.proF:hover{
    color: rgb(171, 237, 171);
}
.aH{
    display: flex;
    flex-direction: row;
    gap: 2em;
    
    a{
        padding-top: 10px;
    }
}
.bH{
    display: flex;
    flex-direction: row;
    gap: 2em;

    p{
        padding-top: 10px;
    }

    h3{
        padding-top: 10px;
    }
}
.h3N{
    margin-top: 0.6em;
}
.foot{
    padding-inline: auto;
}
.sO{
    background-color: rgb(171, 237, 171);
    width: 110px;
    border-radius: 11px;
    padding: 5px;
    margin-inline: 12em;
}
